.add-restaurant-popup .maplibregl-popup-close-button {
    background-color: #da3838 !important;
    color: white !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    border: none !important;
    transition: all 0.2s ease !important;
}

.add-restaurant-popup .maplibregl-popup-content {
    width: 20rem !important;
    padding: 1.6rem !important;
    border-radius: 16px !important;
}